* {
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}
.nav .right {
    text-decoration: none;
    
}
.nav .right h1{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.center a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: 1rem solid 1ms;
}
.center a:hover {
    background-color: rgb(0, 146, 146);
    border-radius: 10px;
    padding: 0.4rem;
    transition: 1ms;
}
.logo {	
    margin-left: 5rem;
    width: 30rem;
    margin-top: 7rem;
}
.left a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.left a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 0.4rem;
    transition: 1ms;
}
.isi {
	display: flex;
}
.isi .img{
    padding-left: 10rem;
    padding-top: 5rem;
    left: 10rem;
    position: relative;
    left: 21rem;
}
.isi .center{
	padding-top: 10rem;
	}

.isi .center p{
	padding-top: 10px;
	}
.isi .center p:hover {
	color:aqua;
	}
.img {
	width: 40%;
}
.page .logo {
	position:relative;
	left:26rem;	
}

.form h1 {
	padding-left: 36rem;
    padding-top: 6rem;
}
.about {
	margin-left: 680px;
    margin-top: 47px;
}
.about a {
	text-decoration: none;
	padding: 10px;
	background-color: rgb(0, 0, 0);
	color: white;
	border-radius: 10px;
	
}
.about a:hover {
	background-color: rgb(128, 255, 255);
	color: black;
}
.FormBiodata {
	position: relative;
    left: 19%;
    top: 5rem;
    width: 64rem;
}