<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Create Variants</title>
</head>

<body>
	<h1>Create New</h1>
	<br>
	<form th:action="@{/Variants/save}" method="post" th:object="${Variants}">
		<input type="hidden" th:field="*{id}">
		<table border="2">
			<tr>
				<td>Category</td>
				<td><select th:field="*{categoryId}">
				<option th:each="item:${ listCategory }" th:text="${item.categoryName}" th:value="${item.id}"></option>
				</select></td>
			</tr>
			<tr>
				<td>Initial</td>
				<td><input type="text" name="variants_initial" th:field="*{variantsInitial}"></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input type="text" name="variants_name" th:field="*{variantsName}"></td>
			</tr>
			<tr>
				<td>Active</td>
				<td><input type="checkbox" name="is_active" th:field="*{isActive}"></td>
			</tr>
			<tr>
				<td><input type="submit" value="save"></td>
			</tr>
		</table>
	</form>
</body>

</html>