<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Variants</title>
</head>

<body>
	<h1>Variants</h1>
	<br>
	<button onclick="window.location.href='/Variants/addvariants'">Create New</button>
	<br>
	<br>
	<br>
	<form>
		<table border="2">
			<thead>
				<tr>
					<th>Category</th>
					<th>Initial</th>
					<th>Name</th>
					<th>Active</th>
					<th colspan="2">Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="item:${ listVariants }">
					<td th:text="${ item.category.categoryName }"></td>
					<td th:text="${ item.variantsInitial }"></td>
					<td th:text="${ item.variantsName }"></td>
					<td><input type="checkbox" disabled name="isactive" th:checked="${ item.isActive }"></td>
					<td><a th:href="@{/Variants/edit/{id}(id=${item.id})}">Edit</a></td>
					<td><a th:href="@{/Variants/delete/{id}(id=${item.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>

</html>